spinner(show='showSpinner') //- boolean scope property to toggle spinner
h3 Events
h5 drag mouse over an area to select
.row(style='padding-bottom:20px')
  .col-md-12
    .nav-chart-container(style='width:95%; height:160px')
      event-graph
.row
  .col-md-3(style='height:550px; overflow-y:auto' ng-show='selectedEvents')
    | Filter (supports regex on: tags, text, author, mentions)
    form(ng-submit='filterChanged()')
      .form-group
        .row
          .col-md-10
            input.form-control(ng-model='filterText')
          .col-md-2
            button.btn.btn-info(type='submit' style='float:right')
              span.glyphicon.glyphicon-search

    table.table.table-striped
      caption Events
      tbody
        tr(ng-repeat='evt in selectedEvents')
          td(ng-click='eventSelected(evt)' ng-class='{highlight: (selectedEvent && selectedEvent.id === evt.id)}')
            .row
              .cell
                p(style='display:inline') {{evt.start_time_ms | date:'short'}} - {{evt.end_time_ms | date:'short'}}
                input.form-control(style='display:inline;width:100px;margin-left:16px' ng-model='evt.name' ng-model-options='{ debounce: 1000 }' ng-change='eventNamed(evt)')
            .row
              .cell
                label Interesting:
              .cell
                label.switch
                  input(type='checkbox' ng-model='evt.of_interest' ng-change='ofInterestChanged(evt)')
                  .slider.round
            .row
              .cell
                | {{evt.hashtags | sampleWeightedPairs}}
  .col-md-4(style='height:550px; overflow-y:hidden')
    event-map(ng-show='mapPoints' points='mapPoints')
      iframe#map-frame(src='http://54.86.248.86:3005/index.html' style='width:100%; height:600px' scrolling='no' frameborder='0')
  .col-md-5(ng-show='selectedEvent')
    .row(ng-show='imageUrls' style='width:100%; height:120px; overflow-y:auto')
      image-grid(hover-dir='left')
    .row(ng-show='hashtags' style='width:100%; height:100px; overflow-y:auto; font-size:1.5em')
      |#
      div(ng-repeat='ht in hashtags' style='display:inline-block')
        translate(phrase='{{ht[0]}}')
        | ({{ht[1]}}){{$last ? '' : ','}}&nbsp;
    .row(style='width:100%; height:280px; overflow-y:auto')
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation'): a(data-target='#tc-post-types' role='tab' data-toggle='tab') Post types
        li(role='presentation'): a(data-target='#tc-posts' role='tab' data-toggle='tab') Posts
        li(role='presentation'): a(data-target='#tc-refs' role='tab' data-toggle='tab') Most referenced
        li(role='presentation'): a(data-target='#tc-user-network' role='tab' data-toggle='tab') User network

      .tab-content
        #tc-post-types.tab-pane.active(role='tabpanel')
          .col-md-6
            mark Posts ({{posts.length}})
            pie-chart(content='{{postTypeCounts}}' conf='{{::postTypeConf}}')
          .col-md-6
            table.table.table-condensed
              caption counts (sampled)
              tbody
                tr(ng-repeat='c in postTypeCounts')
                  td {{c.label}}
                  td {{c.value}}
            table.table.table-condensed(style='margin-top:-8px')
              caption aggregates
              tbody
                tr(ng-repeat='c in aggCounts')
                  td {{c.label}}
                  td {{c.value}}
        #tc-posts.tab-pane(role='tabpanel')
          table.table.table-striped.table-condensed
            caption Posts ({{posts.length}})
            tbody
              tr(ng-repeat='post in posts')
                td
                  a(ng-click='loadAuthorUrl(post)')
                    | {{post.screen_name}}
                    br
                    img(ng-src='{{post.author_image_url}}' style='border:0; width:48px; height:48px')
                td(ng-class='{highlight: (selectedImageUrl && selectedImageUrl === post.primary_image_url)}') {{post.text}}
                td: a(ng-href='{{post.post_url}}' target='_blank') visit
        #tc-refs.tab-pane(role='tabpanel')
          table.table.table-condensed(style='margin-top:-8px')
            caption Retweeted links
            tbody
              tr(ng-repeat='c in broadcastCounts')
                td: a(ng-href='https://twitter.com/statuses/{{c.label}}' target='_blank') {{c.label}}
                td {{c.value}}
        #tc-user-network.tab-pane(role='tabpanel')
          .chart-container(style='width:100%; height:300px')
            user-network-graph
.row(ng-show='selectedEvent')
  .col-md-4(style='height:400px; overflow-y:auto')
    table.table.table-striped
      caption Keywords
      thead
        tr
          th word
          th count
      tbody
        tr(ng-repeat='keyword in keywords')
          td
            translate(phrase='{{keyword[0]}}')
          td {{keyword[1]}}
  .col-md-4(style='height:400px; overflow-y:auto')
    table.table.table-striped
      caption Locations
      thead
        tr
          th loc
          th weight
      tbody
        tr(ng-repeat='loc in locations')
          td: translate(phrase='{{loc.label}}')
          td {{loc.weight | number:1}}
  .col-md-4(ng-show='authorPosts' style='height:400px; overflow-y:auto')
    table.table.table-striped
      caption
        a(ng-click='loadAuthorUrl(authorPosts[0])')
          img(ng-src='{{authorPosts[0].author_image_url}}' style='border:0; width:48px; height:48px')
          | All {{authorPosts[0].screen_name}} Posts ({{authorPosts.length}})
      tbody
        tr(ng-repeat='post in authorPosts')
          td: a(ng-href='{{post.post_url}}' target='_blank') visit
          td {{post.text}}
          td {{post.timestamp_ms | date:'short'}}
