spinner(show='showSpinner') //- boolean scope property to toggle spinner


h5 click circles in chart to load data
.row(style='padding-bottom:20px')
  .col-md-12
    .term-chart-container(ng-model='terms', style='width:95%; height:160px')
      term-chart
.row
  .col-md-3
    h3 settings
    .row
      .col-md-12
        | The chart end date:
        input.form-control(type = 'date', ng-model='maxDate')
    .row
      .col-md-12
        | The number of intervals back from the chart end date:
        input.form-control(ng-model='windowCount')
    .row
      .col-md-12
        | The interval size in minutes (1440 = 1 day):
        input.form-control(ng-model='interval')


    h3 Terms
    .row
      .col-md-10
        input.form-control(ng-model='filterText')
      .col-md-1
        button.btn.btn-info(ng-click='addTerm(filterText)')
          span.glyphicon.glyphicon-plus
    .row
      .col-md-11
        table.table.table-striped
          tbody
            tr(ng-repeat='term in terms')
              td {{term}}
                button.btn.btn-info(ng-click='removeTerm(term, term-chart)' style='float:right')
                  span.glyphicon.glyphicon-remove

  .col-md-9
    .row(ng-show='imageUrls' style='width:100%; height:120px; overflow-y:auto')
      image-grid(hover-dir='left')
    .row(ng-show='hashtags | isDefined' style='width:100%; height:100px; overflow-y:auto; font-size:1.5em')
      | #
      div(ng-repeat='ht in hashtags' style='display:inline-block')
        translate(phrase='{{ht[0]}}')
        | ({{ht[1]}}){{$last ? '' : ','}}&nbsp;
    .row(style='width:100%; height:500px; overflow-y:auto')
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation'): a(data-target='#tc-post-types' role='tab' data-toggle='tab') Post types
        li(role='presentation'): a(data-target='#tc-posts' role='tab' data-toggle='tab') Posts
        li(role='presentation'): a(data-target='#tc-refs' role='tab' data-toggle='tab') Most referenced
        li(role='presentation'): a(data-target='#tc-telegram' role='tab' data-toggle='tab') Telegram

      .tab-content
        #tc-post-types.tab-pane.active(role='tabpanel')
          .col-md-6
            mark Posts ({{posts.length}})
            pie-chart(content='{{postTypeCounts}}' conf='{{::postTypeConf}}')
          .col-md-6
            table.table.table-condensed
              caption counts (sampled)
              tbody
                tr(ng-repeat='c in postTypeCounts')
                  td {{c.label}}
                  td {{c.value}}
            table.table.table-condensed(style='margin-top:-8px')
              caption aggregates
              tbody
                tr(ng-repeat='c in aggCounts')
                  td {{c.label}}
                  td {{c.value}}
        #tc-posts.tab-pane(role='tabpanel')
          table.table.table-striped.table-condensed
            caption Posts ({{posts.length}})
            tbody
              tr(ng-repeat='post in posts')
                td
                  a(ng-click='loadAuthorUrl(post)')
                    | {{post.screen_name}}
                    br
                    img(ng-src='{{post.author_image_url}}' style='border:0; width:48px; height:48px')
                td(ng-class='{highlight: (selectedImageUrl && selectedImageUrl === post.primary_image_url)}') {{post.text}}
                td: a(ng-href='{{post.post_url}}' target='_blank') visit
        #tc-refs.tab-pane(role='tabpanel')
          table.table.table-condensed(style='margin-top:-8px')
            caption Retweeted links
            tbody
              tr(ng-repeat='c in broadcastCounts')
                td: a(ng-href='{{c.label | statusUrl}}' target='_blank') {{c.label}}
                td {{c.value}}
        #tc-telegram.tab-pane(role='tabpanel')
          table.table.table-striped.table-condensed
            caption Telegram ({{telegramData.length}})
              tbody
                tr(ng-repeat='gram in telegramData' ng-click='selectTelegram(gram)')
                  td {{gram.id}}
                  td {{gram.term}}
                  td {{gram.translatedTerm}}
          table.table.table-striped.table-condensed
            caption Related Twitter Posts
              tbody
                tr(ng-repeat='post in tposts')
                  td {{post.text}}
                  td {{post.score}}
                  td {{post.post_id}}
